body{
    background-color:lightgrey important;
}
#profile-wrapper{
    text-align: center;
    background-color: rgb(238, 218, 230);
    font-family: Helvetica;
    font-weight: 100%;
}
#profile-pic{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}
#projects-wrapper{
    text-align: center;
    background-color:rgb(238, 218, 230);
    font-family: Arial;
    font-weight: 100%;
}
#achievements-wrapper{
    text-align: center;
    background-color: rgb(238, 218, 230);
    font-family: Arial;
    font-weight: 100%;
}
#workshops-wrapper{
    text-align: center;
    background-color:rgb(238, 218, 230);
    font-family: Arial;
    font-weight: 100%;
}
#skills-wrapper{
    text-align: center;
    background-color: rgb(238, 218, 230);
    font-family: Arial;
    font-weight: 100%;
}
#conference-wrapper{
    text-align: center;
    background-color:rgb(238, 218, 230);
    font-family: Arial;
    font-weight: 100%;
}
#academics-wrapper{
    text-align: center;
    background-color: rgb(238, 218, 230);
    font-family: Arial;
    font-weight: 100%;
}
hr{
    background-color: saddlebrown;
}
ul{
    padding:0;
    list-style-type: none;
}
.social-links ul,li{
    list-style-type: none;
    display: inline-block;
}
.social{
    width: 20px;
    height: 20px;
}
